
  /* FIX TOP HEADER */
.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* FIX NAVBAR BELOW HEADER */
.custom-nav {
  position: fixed;
  top: 50px; /* height of top-header */
  width: 100%;
  z-index: 9998;
}

/* PREVENT CONTENT HIDING */
body {
  padding-top: 120px; /* adjust total height */
}
  .hero-section {
  height: 300px;
  background: linear-gradient(to right, #020617, #1e293b);
  color: white;
}

.main-section {
  background: #020617;
}

.sub-text {
  color: #94a3b8;
}

.custom-input {
  background: #0f172a;
  border: 1px solid #334155;
  color: white;
}

.custom-input::placeholder {
  color: #64748b;
}

.book-btn {
  background: orange;
  color: black;
  font-weight: bold;
}

.book-btn:hover {
  background: #d97706;
  color: white;
}

.contact-box {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-box i {
  background: orange;
  color: black;
  padding: 12px;
  border-radius: 8px;
}

.footer {
  background: #0f172a;
  color: white;
}

.footer p {
  color: #94a3b8;
}
  /* TOP HEADER */
.top-header {
  padding: 6px 0;
  background-color: #1a1a1a;
  font-size: 18px;
}

.top-header span {
  font-size: 20px;
}

.top-header i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.top-header i:hover {
  color: #ffc107;
}

/* NAVBAR */
.custom-nav {
  background: linear-gradient(to right, #0b132b, #0a0f1f);
  padding: 16px 0;
  margin-top: -1px; /* remove tiny gap */
}

/* NAV LINKS */
.nav-link {
  color: #cbd5e1 !important;
  font-size: 20px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffffff !important;
}

/* BUTTON */
.book-btn {
  background-color: #f59e0b;
  color: #000;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.book-btn:hover {
  background-color: #d97706;
  color: #fff;
}

/* NAVBAR SIDE SPACING */
.nav-space {
  padding-left: 150px;
  padding-right: 150px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-space {
    padding-left: 15px;
    padding-right: 15px;
  }
}

