.top-header {
      padding: 2px 0;
      font-size: 26px;
      background-color: #1a1a1a;
    }

    .top-header span {
      font-size: 27px;
    }

    .top-header i {
      font-size: 28px;
      cursor: pointer;
      transition: 0.3s;
    }

    .top-header i:hover {
      color: #ffc107;
    }


.img-hover img {
  transition: transform 5s ease;
}

.img-hover:hover img {
  transform: scale(1.2);
}

/* TOP HEADER */
.top-header {
  padding: 6px 0;
  background-color: #1a1a1a;
  font-size: 18px;
}

.top-header span {
  font-size: 20px;
}

.top-header i {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.top-header i:hover {
  color: #ffc107;
}

/* NAVBAR */
.custom-nav {
  background: linear-gradient(to right, #0b132b, #0a0f1f);
  padding: 16px 0;
  margin-top: -1px; /* remove tiny gap */
}

/* NAV LINKS */
.nav-link {
  color: #cbd5e1 !important;
  font-size: 20px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffffff !important;
}

/* BUTTON */
.book-btn {
  background-color: #f59e0b;
  color: #000;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.book-btn:hover {
  background-color: #d97706;
  color: #fff;
}

/* NAVBAR SIDE SPACING */
.nav-space {
  padding-left: 150px;
  padding-right: 150px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-space {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero-section {
  height: 300px;
  width: 100%;
  background: linear-gradient(to right, #020617, #1e293b);
  color: white;
}

.sub-text {
  color: #94a3b8;
  font-size: 15px;
}

.breadcrumb {
  background: transparent;
}

body {
  background: #020617;
}

/* CARD */
.barber-card {
  background: #0f172a;
  border-radius: 12px;
  padding: 15px;
  gap: 15px;
  align-items: center;
  transition: 0.3s;
}

.barber-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.barber-img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

/* CONTENT */
.barber-content h6 {
  color: white;
}

.role {
  color: orange;
  font-size: 13px;
  margin-bottom: 5px;
}

.desc {
  color: #94a3b8;
  font-size: 13px;
}

/* TAGS */
.tags span {
  background: orange;
  color: black;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 10px;
  margin-right: 5px;
}

/* EXPERIENCE */
.exp {
  display: block;
  margin-top: 5px;
  color: #94a3b8;
}

/* BUTTON */
.book-btn {
  background: orange;
  color: black;
  font-weight: bold;
}

.book-btn:hover {
  background: #d97706;
  color: white;
}

/* FOOTER */
.footer-section {
  background: #0f172a;
}

.footer-section h6 {
  margin-bottom: 15px;
}

.footer-section i {
  background: #1e293b;
  padding: 8px;
  border-radius: 5px;
}

/* FIX TOP HEADER */
.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* FIX NAVBAR BELOW HEADER */
.custom-nav {
  position: fixed;
  top: 50px; /* height of top-header */
  width: 100%;
  z-index: 9998;
}

/* PREVENT CONTENT HIDING */
body {
  padding-top: 120px; /* adjust total height */
}
