.top-header {
      padding: 2px 0;
      font-size: 26px;
      background-color: #1a1a1a;
    }

    .top-header span {
      font-size: 27px;
    }

    .top-header i {
      font-size: 28px;
      cursor: pointer;
      transition: 0.3s;
    }

    .top-header i:hover {
      color: #ffc107;
    }